.toolbar {
    background-color: slateblue;
    display: flex;
    justify-content: space-between;
}

.brandLogo,
.toolbarLink {
    text-decoration: none;
    color: snow;
    font-size: 16px;
    transition: 150ms ease-in-out;
    padding: 15px 25px;
    display: flex;
    align-items: center;
}
.brandLogo:hover,
.toolbarLink:hover {
    background-color: slategray;
}

.brandLogo {
    font-size: 21px;
    font-weight: bold;
}

.toolbarList {
    display: flex;
    list-style-type: none;
}

.toolbarItem {
    display: flex;
}